<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.dishdashdine.app">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>

    <application android:name=".MainApplication" android:label="@string/app_name" android:icon="@mipmap/ic_launcher"
                 android:roundIcon="@mipmap/ic_launcher_round" android:allowBackup="false"
                 android:theme="@style/BootTheme">
        <meta-data android:name="com.google.android.geo.API_KEY"
                   android:value="AIzaSyBuraeHoHPIGBtmnUWlXFP3atbMkwyMCGQ"/>
        <activity android:name=".MainActivity" android:label="@string/app_name"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
                  android:launchMode="singleTask" android:windowSoftInputMode="adjustResize" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="dishdashdine"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="admin.dishdashdine.com"/>
            </intent-filter>
        </activity>
        <activity-alias android:name="com.dishdashdine.MainActivityDefault" android:enabled="true"
                        android:exported="true" android:icon="@mipmap/ic_launcher"
                        android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:name="com.dishdashdine.MainActivityDark" android:enabled="false" android:exported="true"
                        android:icon="@mipmap/ic_launcher_dark" android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:name="com.dishdashdine.MainActivityLight" android:enabled="false"
                        android:exported="true" android:icon="@mipmap/ic_launcher_light"
                        android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
    </application>
</manifest>
